# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencias
node_modules/

# Archivos de seguridad - NO SUBIR
security_setup.sql
